@font-face {
    font-family: 'DM Sans';
    font-style: italic;
    src: url('../fonts/DMSans-Italic-VariableFont_opsz,wght.ttf');
}@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    src: url('../fonts/DMSans-VariableFont_opsz,wght.ttf');
}
@font-face {
    font-family: 'DM Serif Display';
    font-style: italic;
    src: url('../fonts/DMSerifDisplay-Italic.ttf');
}@font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    src: url('../fonts/DMSerifDisplay-Regular.ttf');
}

:root {
    --aieps-greyblue: #6F90A4;             /*color: var(--aieps-greyblue);*/
    --aieps-greyblue-rgb: 111,144,164;      /*color: rgba(var(--aieps-greyblue), 1);*/
    --aieps-blue: #0E52D7;
    --aieps-blue-rgb: 14,82,215;
    --aieps-dark: #00263C;
    --aieps-dark-rgb: 0,38,60;
    --aieps-pale-bg: #F9F9EE;
    --aieps-pale-bg-rgb: 249,249,238;
    --aieps-paleblue: #F5F9FF;
    --aieps-paleblue-rgb: 245,249,255;
    --aieps-linegray: #D1D3D5;
    --aieps-linegray-rgb: 209,211,213;
    --aieps-white: #FFFFFF;
    --aieps-white-rgb: 255,255,255;
    --aieps-darkcerulean: #0C4E74;
    --aieps-darkcerulean-rgb: 12,78,116;
    --aieps-prussianblue: #093148;
    --aieps-prussianblue-rgb: 9,49,72;
    --aieps-orange: #EB4C1A;        /*color: var(--aieps-orange);*/
    

    --aieps-red: #F5F9FF;           
    --aieps-fineline: #F5F9FF;      /*color: var(--aieps-fineline);*/
    --aieps-green: #F5F9FF;         /*color: var(--aieps-green);*/

    --aieps-font-body: 'DM Sans';
    --aieps-font-title: 'DM Serif Display';

    --bs-border-color: var(--aieps-linegray);
}


a {
    color: rgba(var(--aieps-dark-rgb), 1.0);
    text-decoration: none;
}
a:hover {
    color: rgba(var(--aieps-dark-rgb), 0.8);
}
.link {
    color: rgba(var(--aieps-blue-rgb), 1.0);
    text-decoration: underline;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}
.link:hover {
    color: rgba(var(--aieps-blue-rgb), 0.8);
}
.link-card {
    display: flex;
    flex-direction: column;
    padding: 23px 64px 23px 31px;
    background-color: rgba(var(--aieps-paleblue-rgb), 1.0);
    background-repeat: no-repeat;
    background-size: 34px 17px;
    background-position: right 15px center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 37' fill='none' stroke='%230E52D7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3e%3cpath d='M0.999999 1.79077L18 18.7908L1 35.7908'/%3e%3c/svg%3e");
}
.link-card:hover {
    background-color: rgba(var(--aieps-pale-bg-rgb), 0.8);
}
.link-card .title {
    display: block;
    color: var(--aieps-dark);
    font-family: var(--aieps-font-title);
    font-size: 36px;
    font-weight: 400;
    line-height: 43.2px;
    margin-bottom: 0;
}
.link-card .count {
    color: var(--aieps-greyblue);
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    margin-bottom: 0;
}

body{
    font-family: var(--aieps-font-body);
    background-color: var(--aieps-white);
    color: var(--aieps-dark);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}
ul.check {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.check li {
    position: relative;
    padding-left: 26px;
}
ul.check li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 11px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 11' fill='none' stroke='%230E52D7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3e%3cpath d='M1 5.74789L5.00025 9.74814L13 1.74756'/%3e%3c/svg%3e");
}
.breadcrumb {
    margin-bottom: 0;
}
.row {
    --bs-gutter-x: 16px;
}
.container {
    --bs-gutter-x: 16px;
}
.page-title {
    font-family: var(--aieps-font-title);
    font-weight: 400;
    font-size: 60px;
    line-height: 69px;
    margin-bottom: 54px;
}
.page-title.s02 {
    font-size: 52px;
    line-height: 62.4px;
    margin-bottom: 0;
}
.category-main {
    font-family: var(--aieps-font-body);
    font-size: 22px;
    font-weight: 700;
    line-height: 28.6px;
    margin-bottom: 20px;
}
.page-title.bacc {
    font-size: 52px;
    line-height: 1.2;
    margin-bottom: 0;
}
.banner .description {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: -3%;
    margin-bottom: 26px;
}

.welcome-message {
    font-size: 18px;
    margin-bottom: 0;
}
.section {
    padding: 1rem 0;
}
.section.b01 {
    padding: 1rem 0;
}
.section-title {
    font-family: var(--aieps-font-title);
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 25px;
}
.section-sub-title {
    font-family: var(--aieps-font-body);
    color: var(--aieps-greyblue);
    font-weight: 400;
    font-size: 18px;
    line-height: 26.1px;
    margin-bottom: 25px;
}
.b01 .section-subtitle {
    line-height: 25.2px;
    margin-bottom: 24px;
}
.acc-main .section-title {
    font-size: 32px;
    margin-bottom: 10px;
}

.section-description {
    font-size: 18px;
    margin-bottom: 25px;
    color: var(--aieps-greyblue);
}
.section-info {
    margin-bottom: 0;
    color: var(--aieps-greyblue);

    display: flex;
}
.section-info .icon {
    flex: 0 0 auto;
    width: auto;
}
.section-info .text {
    font-size: 14px;
    line-height: 1.2;
    flex: 1 0 0%;
    padding-left: 8px;
}

.color-blue {
    color: var(--aieps-blue)!important;
}
.color-dark {
    color: var(--aieps-dark)!important;
}
.color-greyblue {
    color: var(--aieps-greyblue)!important;
}
.bg-pale {
    background-color: var(--aieps-pale-bg)!important;
}
.bg-paleblue {
    background-color: var(--aieps-paleblue)!important;
}

.login .section-title {
    padding: 1rem 0;
    text-align: center;
}
@media (min-width: 1200px) {
    .login .section-title {
        padding: 2rem 0;
    }
    .section {
        padding: 2rem 0;
    }
    .section.b01 {
        padding: 40px 0 60px 0;
    }
}





/* forms & inputs */

.btn-primary {
    --bs-btn-bg: rgba(var(--aieps-blue-rgb), 1.0);
    --bs-btn-border-color: var(--aieps-blue);
    --bs-btn-hover-bg: rgba(var(--aieps-blue-rgb), 0.8);
}
.btn-outline-light {
    --bs-btn-bg: #FFF;
    --bs-btn-color: #000;
    --bs-btn-border-color: #FFF;

    --bs-btn-hover-color: #FFF;
    --bs-btn-hover-bg: #000;
    --bs-btn-hover-border-color: #FFF;
    padding: 1rem;
}
.btn-outline-transparent {
    --bs-btn-bg: transparent;
    --bs-btn-color: var(--aieps-white);
    --bs-btn-border-color: var(--aieps-white);

    --bs-btn-hover-color: var(--aieps-dark);
    --bs-btn-hover-bg: var(--aieps-white);
    --bs-btn-hover-border-color: var(--aieps-dark);
}
.btn-outline-blue {
    --bs-btn-bg: transparent;
    --bs-btn-color: var(--aieps-blue);
    --bs-btn-border-color: var(--aieps-blue);

    --bs-btn-hover-color: var(--aieps-blue);
    --bs-btn-hover-bg: var(--aieps-white);
    --bs-btn-hover-border-color: var(--aieps-blue);
}
.btn-dark {
    --bs-btn-bg: var(--aieps-dark);
    --bs-btn-border-color: var(--aieps-dark);
    --bs-btn-hover-bg: #424649;
    --bs-btn-hover-border-color: #373b3e;
    --bs-btn-disabled-bg: var(--aieps-greyblue);
    --bs-btn-disabled-border-color: var(--aieps-greyblue);
    --bs-btn-disabled-opacity: 1;
}

.card.card-form {
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    background-color: transparent;
}
.form-label {
    font-size: 14px;
    margin-bottom: .25rem;
    color: rgba(var(--aieps-dark-rgb), .45);
}
.form-control {
    background-color: transparent;
    color: var(--aieps-dark);
    border: 1px solid rgba(var(--aieps-dark-rgb), .45);
    --bs-border-radius: 0;
    padding: 0.75rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--aieps-dark);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--aieps-white);
}
.form-input {
    margin-bottom: 20px;
}
.form-input.submit {
    margin-bottom: 0;
}
.forgot-password {
    text-align: right;
    font-size: .8em;
}
.form-input .additional-info {
    font-size: 0.875em;
}
.card.card-form .card-footer {
    font-size: 1.25em;
    background-color: inherit;
    padding: 0;
    margin-top: 20px;
    border: unset;
}
@media (min-width: 1200px) {
    .card.card-form {
        padding: 40px;
        max-width: 540px;
    }
}

/* footer */
#footer {}
#footer .copy {
    text-align: center;
    padding: 10px 0;
    font-size: .8em;
}


.side-nav {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
}
.side-nav .active {
    color: blue;
    background-color: white;
}

.navbar {
    --bs-navbar-padding-y: 22px;
    padding-left: 255px;
}
.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-color: var(--aieps-dark);
    --bs-nav-link-hover-color: rgba(var(--aieps-dark-rgb), 0.8);
}

.navbar .nav-item {
    margin-left: 8px;
    margin-right: 8px;
}
.navbar .nav-item:first-child {
    margin-left: 0;
}
.navbar .nav-item:last-child {
    margin-right: 0;
}
.navbar .navbar-brand {
    position: absolute;
    top: 15px;
    left: 40px;
}

.btn {
    --bs-btn-padding-x: 13px;
    --bs-btn-padding-y: 7px;
    --bs-btn-font-weight: 700;
    --bs-border-radius: 0;
}


@media (min-width: 1920px) {
    header .container-fluid {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.card {
    --bs-card-border-radius: 0;
    --bs-card-border-color: var(--aieps-linegray);
    padding: 15px;
    margin-bottom: 16px;
}
.course-category {
    color: var(--aieps-greyblue);
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.course-title {
    font-family: var(--aieps-font-title);
    font-size: 18px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 10px;
}
.lector-info {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}
.lector-info .avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 8px;
}
.lector-info .text {
    font-size: 14px;
    line-height: 1.2;
}
.lector-info .text .name {
    font-weight: 700;
}
.course-description {
    color: var(--aieps-greyblue);
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.course-info {
    display: flex;
    align-items: start;
}
.course-info .icon {
    margin-right: 10px;
}
.course-info .icon .img {
    width: 34px;
    height: 34px;
}
.course-info .text {}
.tag {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 2px;
    margin-bottom: 7px;
    display: inline-block;
    padding: 2px 7px;
}
.tag ~ span {
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 7px;
    vertical-align: bottom;
}
.tag.pale {
    font-weight: 500;
    color: var(--aieps-dark);
    background-color: var(--aieps-pale-bg);
}
.tag.white {
    font-weight: 500;
    color: var(--aieps-blue);
    background-color: var(--aieps-white);
    border-color: var(--aieps-blue);
}
.tag.outline-blue {
    color: var(--aieps-blue);
    border-color: var(--aieps-blue);
}
.tag.outline-orange {
    color: var(--aieps-orange);
    border-color: var(--aieps-orange);
}
.course-info .text .date {
    width: 100%;
    color: var(--aieps-dark);
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 0;
    font-weight: 700;
}
.course-info .text .date.length {
    color: var(--aieps-greyblue);
    font-weight: 400;
}


.card > *:last-child, 
.course-main > *:last-child, 
.course-side > *:last-child, 
.course-bottom > *:last-child {
    margin-bottom: 0;
}
.card.row-card {
    flex-direction: row;
    flex-wrap: wrap;
}
.row-card .course-main {
    flex: 1 0 0%;
    margin-bottom: 16px;
}
.row-card .course-side {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 16px;
}
.row-card .course-side .course-info {
    justify-content: end;
    text-align: right;
}
.row-card .course-side .course-info .icon {
    order: 1;
    margin-right: 0;
    margin-left: 12px;
}
.row-card .course-side .course-info .text {
    order: 0;
    margin-right: 0;
    margin-left: 0;
}
.row-card .course-side .course-meta {
    font-size: 14px;
    line-height: 1.2;
    color: var(--aieps-greyblue);
}
.course-bottom {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.course-bottom .course-stats {
    display: flex;
    border: 1px solid var(--aieps-linegray);
}
.course-bottom .course-stats > * {
    padding: 9px 14px;
    border-right: 1px solid var(--aieps-linegray);
}
.course-bottom .course-stats > *:last-child {
    border-right-color: transparent;
    margin-bottom: 0;
}
.card .users,
.card .nivel, 
.card .rating {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.card .rating {
    margin-bottom: 8px;
}
.card .users .img,
.card .nivel .img, 
.card .rating .img {
    margin-right: 5px;
    color: var(--aieps-greyblue);
}
.card .rating .img {
    color: var(--aieps-dark);
}
.course-bottom .text, 
.rating .text {
    color: var(--aieps-dark);
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
}
.course-bottom .rating .text span, 
.rating .text span {
    color: var(--aieps-greyblue);
    font-weight: 400;
}
.course-bottom .course-buttons > * {
    margin-left: 10px;
}
.side .card .rating {
    margin-bottom: 8px;
}




.card-divider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.card-divider::before {
    content: '';
    position: absolute;
    display: block;
    top:50%;
    left:0;
    width: 100%;
    height: 1px;
    background-color: var(--aieps-blue);
    z-index: 1;
}
.card-divider span {
    background-color: var(--aieps-white);
    padding: 5px;
    z-index: 2;
}


.pass-toggle {
    position: absolute;
    top: 0;
    right: 0;
    height: 58px;
    width: 50px;
    z-index: 10;
    cursor: pointer;
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 17' fill='none' stroke='%236F90A4' stroke-linecap='round' stroke-linejoin='round' %3e%3cpath d='M0.954395 0.5625L16.0453 15.6534M6.69252 6.35877C6.25435 6.81147 5.98469 7.42818 5.98469 8.10794C5.98469 9.49706 7.11079 10.6231 8.49982 10.6231C9.18939 10.6231 9.81415 10.3456 10.2685 9.89621M3.88873 3.62021C2.29639 4.67086 1.08353 6.25004 0.5 8.10794C1.56831 11.5093 4.74604 13.9766 8.49999 13.9766C10.1674 13.9766 11.7212 13.4899 13.0269 12.6506M7.66144 2.28067C7.93726 2.25329 8.21703 2.23926 8.49999 2.23926C12.254 2.23926 15.4317 4.70655 16.5 8.10794C16.2647 8.85746 15.9268 9.56153 15.503 10.2039'/%3e%3c/svg%3e");
}
.pass-toggle.pass-show {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 14' fill='none' stroke='%236F90A4' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M11.0146 7.15375C11.0146 8.54286 9.8886 9.66889 8.49949 9.66889C7.11046 9.66889 5.98438 8.54286 5.98438 7.15375C5.98438 5.76464 7.11046 4.63861 8.49949 4.63861C9.8886 4.63861 11.0146 5.76464 11.0146 7.15375Z'/%3e%3cpath d='M8.50001 1.28506C4.74603 1.28506 1.56833 3.75232 0.5 7.15373C1.56831 10.5551 4.74603 13.0224 8.50001 13.0224C12.2539 13.0224 15.4317 10.5551 16.5 7.15373C15.4317 3.75234 12.2539 1.28506 8.50001 1.28506Z'/%3e%3c/svg%3e");
}
.form-input .additional-info {
    font-size: 14px;
    color: var(--aieps-greyblue);
}
.info-icon {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15' fill='none' stroke='%236F90A4' stroke-linecap='round'%3e%3cpath d='M7.58301 14.062C11.1729 14.062 14.083 11.1519 14.083 7.56201C14.083 3.97216 11.1729 1.06201 7.58301 1.06201C3.99316 1.06201 1.08301 3.97216 1.08301 7.56201C1.08301 11.1519 3.99316 14.062 7.58301 14.062Z'/%3e%3cpath d='M7.58301 10.812V6.91202'/%3e%3cpath fill='%236F90A4' stroke='none' d='M7.58359 4.31203C7.94258 4.31203 8.23359 4.60304 8.23359 4.96203C8.23359 5.32102 7.94258 5.61203 7.58359 5.61203C7.22461 5.61203 6.93359 5.32102 6.93359 4.96203C6.93359 4.60304 7.22461 4.31203 7.58359 4.31203Z'/%3e%3c/svg%3e");
}
.modal-header {
    padding-top: 0;
    padding-bottom: 0;
    border-color: transparent;
}
.modal-header {
    font-family: var(--aieps-font-title);
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--aieps-dark);
}


.navbar-nav .nav-item.dropdown:last-child .dropdown-menu[data-bs-popper]{
    left: auto;
    right: 0;
}
.nav-link .icon-letter {
    width: 34px;
    height: 34px;
    display: inline-block;
    background: blue;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 34px;
}

.acc-nav {
    border-top: 1px solid var(--aieps-linegray);
    border-bottom: 1px solid var(--aieps-linegray);
}
.acc-nav .container {
    padding: 0;
}
.acc-nav .nav {}
.acc-nav .nav .nav-item {
    position: relative;
    margin-right: 28px;
}
.acc-nav .nav .nav-item:last-child{
    margin-right: 0;
}
.acc-nav .nav .nav-item::after {
    display: block;
    content: '';
    position: absolute;
    left:0;
    bottom: -1px;
    width:100%;
    height: 2px;
    background-color: transparent;
    transition: all .25s ease-in-out;
}
.acc-nav .nav .nav-item:hover::after {
    background-color: var(--aieps-linegray);
}
.acc-nav .nav .nav-item.active::after {
    background-color: var(--aieps-blue);
}
.acc-nav .nav .nav-item.active:hover,
.acc-nav .nav .nav-item.active:hover::after {
    opacity: .8;
}
.acc-nav .nav .nav-item .nav-link {
    font-family: var(--aieps-font-body);
    font-size: 16px;
    font-weight: 400;
    padding: 11px 0;
    color: var(--aieps-greyblue);
    transition: all .25s ease-in-out;
}
.acc-nav .nav .nav-item.active .nav-link {
    color: var(--aieps-blue);
}
.acc-nav .nav .nav-item .nav-link:hover {
    opacity: .8;
}




#footer {
    background-color: var(--aieps-dark);
    padding-top: 87px;
    padding-bottom: 56px;
}
.footer-menus {
    margin-bottom: 37px;
}
.footer-menus .btn-outline-transparent {
    --bs-btn-padding-y: 7px;
    --bs-btn-padding-x: 27px;
}
.footer-menus .menu {
    width: 25%;
}
.footer-menus .menu .menu-title {
    font-size: 16px;
    line-height: 1.3;
    color: var(--aieps-greyblue);
    margin-bottom: 15px;
}
.footer-menus .menu .nav {
    flex-direction: column;
    margin-bottom: 20px;
}
.footer-menus .menu .nav .nav-item {}
.footer-menus .menu .nav .nav-item .nav-link {
    font-size: 16px;
    padding: 5px 0;
    color: var(--aieps-white);
}
.footer-menus .menu .nav .nav-item .nav-link:hover {
    opacity: .8;
}

#footer .social {
    border-top: 1px solid var(--aieps-darkcerulean);
    border-bottom: 1px solid var(--aieps-darkcerulean);
    padding: 17px 0;
}
#footer .social .nav {
    justify-content: center;
}
#footer .social .nav .nav-item {}
#footer .social .nav .nav-item .nav-link {
    padding: 0 12px;
    color: var(--aieps-white);
}
#footer .social .nav .nav-item .nav-link:hover {
    opacity: .8;
}
#footer .social .nav .nav-item .nav-link .img {
    height: 24px;
    width: auto;
}

#footer .partners {
    padding-top: 55px;
    padding-bottom: 40px;
}
#footer .partners .title {
    color: var(--aieps-white);
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}
.partners .partners-list {
    justify-content: center;
}
.partners .partner {
    width: 25%;
    max-width: 209px;
    height: 65px;
    background-color: var(--aieps-prussianblue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
    /*margin-bottom: 15px;*/
}
.partners .partner .img {
    max-width: 100%;
    max-height: 100%;
}



#footer .legal {
    margin-bottom: 20px;
}
#footer .legal .nav {
    justify-content: center;
}
#footer .legal .nav .nav-item {}
#footer .legal .nav .nav-item .nav-link {
    font-size: 14px;
    line-height: 1.3;
    padding: 2px 8px;
    color: var(--aieps-white);
}
#footer .legal .nav .nav-item .nav-link:hover {
    opacity: .8;
}



#footer .copy {
    text-align: center;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 0;
    color: var(--aieps-greyblue);
}


.section.hero.page-home {
    padding: 0;
}
.hero .banner {
    position: relative;
    background: rgb(255,248,233);
    background: linear-gradient(90deg, rgba(255,248,233,1) 0%, rgba(255,227,170,1) 50%, rgba(214,179,106,1) 100%);
    --bs-gutter-x: 0;
    align-items: center;
    justify-content: space-between;
}
.hero .banner .text {
    flex: 1 0 0%;
    padding: 0 30px;
    max-width: 625px;
}
.hero .banner .wrap-img {
    flex: 0 0 auto;
    width: auto;
}

.section.partners {
    padding: 60px 0;
}
.section.partners .text {
    flex: 0 0 auto;
    width: auto;
    max-width: 385px;
    font-size: 18px;
    line-height: 1.45;
    font-weight: 700;
}
.section.partners .partners-list {
    flex: 1 0 0%;
    justify-content: end;
}
.section.partners .partner {
    height: 60px;
    max-width: 209px;
    background-color: transparent;
}


.section.courses-and-webinars {
    padding: 82px 0;
}
.section.courses-and-webinars .section-title {
    text-align: center;
}

#navCandW,
#navPandN {
    justify-content: center;
    margin-bottom: 60px;
    --bs-nav-link-color: var(--aieps-greyblue);
    --bs-nav-link-font-size: 22px;
    --bs-nav-link-font-weight: 700;
    line-height: 1.3;

    --bs-nav-tabs-border-width: var(--bs-border-width);
    --bs-nav-tabs-border-color: var(--aieps-linegray);
    --bs-nav-tabs-border-radius: var(--bs-border-radius);
    --bs-nav-tabs-link-hover-border-color: transparent transparent var(--bs-border-color);
    --bs-nav-tabs-link-active-color: var(--aieps-blue);
    --bs-nav-tabs-link-active-bg: transparent;
    --bs-nav-tabs-link-active-border-color: transparent transparent var(--aieps-blue);
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}
#navPandN {
    padding-top: 55px;
    margin-bottom: 30px;
}

#navCandW .nav-link.active,
#navPandN .nav-link.active{
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
    border-bottom-width: 2px;
}
#navCandW .nav-tabs .nav-link,
#navPandN .nav-tabs .nav-link{
    margin-bottom: -1px;
    border: var(--bs-nav-tabs-border-width) solid transparent;
    border-bottom-width: 2px;
}

.presentation {
    --bs-gutter-x: 0;
}
.presentation .img-column, 
.presentation .text-column {
    flex: 0 0 auto;
    width: 50%;
    margin-bottom: 30px;
}
.presentation .text-column {
    padding-left: 40px;
}
.presentation .text-column .description {
    font-size: 22px;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 0;
}

hr {
    color: var(--aieps-linegray);
    opacity: 1;
    margin-top: 23px;
    margin-bottom: 23px;
}

.quote-wrap {}
.quote {
    color: var(--aieps-greyblue);
    font-size: 18px;
    line-height: 1.45;
    font-weight: 700;
    margin-bottom: 20px;

}
.author-info {
    display: flex;
    align-items: start;
}
.author-info .avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 8px;
}
.author-info .author {
    flex: 0 0 auto;
    width: auto;
}
.author-info .author .name, 
.author-info .author .title {
    color: var(--aieps-dark);
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 0;
}
.author-info .author .title {
    font-weight: 400;
}


.learning .courses-popular .card {
    margin-bottom: 20px;
}
.wrap-buttons .btn {
    margin: 0 8px;
}
.wrap-buttons .btn:first-child {
    margin-left: 0;
}
.wrap-buttons .btn:last-child {
    margin-right: 0;
}


.card-webinar-wrap {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 16px;
}
@media (min-width: 992px) {
    .card-webinar-wrap {
        width: 50%;
        margin-bottom: 30px;
    }
}
.card-webinar {
    padding: 25px 30px 30px 30px;
    height: 100%;
}
.card-webinar .card-content {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    display: flex;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px;
}
.card-webinar .card-content > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 8px;
    padding-left: 8px;
}
.card-webinar .card-content .card-top, 
.card-webinar .card-content .card-bottom {
    flex: 0 0 auto;
}
.card-webinar .card-content .card-top {
    margin-bottom: 27px;
}
.card-webinar .card-content .card-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.card-webinar .course-title {
    font-family: var(--aieps-font-body);
    font-size: 22px;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 10px;
}
.card-webinar .lector-info {
    margin-bottom: unset;
}
.card-webinar .lector-info .tag {
    margin-left: 16px;
    margin-bottom: 0;
    font-weight: 500;
}


.card-webinar .card-content .card-bottom .course-stats {
    flex: 0 0 auto;
    width: auto;
}
.card-webinar .card-content .card-bottom .course-stats .label {
    width: 100%;
    font-size: 14px;
    line-height: 1.2;
    color: var(--aieps-greyblue);
    margin: 0;
}
.card-webinar .card-content .card-bottom .course-stats .info {
    display: flex;
    align-items: center;
    min-height: 40px;
}
.card-webinar .card-content .card-bottom .course-stats .info .img {
    margin-right: 8px;
    color: var(--aieps-greyblue);
}
.card-webinar .card-content .card-bottom .course-stats .text {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    margin: 0;
}

.webinars-next .wrap-buttons {
    margin-bottom: 61px;
}


.steps {}
.steps .section-title {
    text-align: center;
    margin-bottom: 15px;
}
.steps .section-sub-title {
    text-align: center;
    margin: 0 auto 50px auto;
    max-width: 560px;
}
.steps .steps-wrap {}
.steps .steps-wrap .step {
    display: flex;
}
.steps .steps-wrap .step .step-number {
    display: flex;
    align-items: center;
}
.steps .steps-wrap .step .step-number .number {
    font-family: var(--aieps-font-title);
    font-size: 34px;
    font-weight: 400;
    line-height: 61px;
    background-color: var(--aieps-pale-bg);
    text-align: center;
    width: 41px;
    padding: 0;
}
.steps .steps-wrap .step .step-content {
    padding: 0 30px;
}
.steps .steps-wrap .step .step-content .icon-wrap {
    height: 100px;
    width: auto;
    max-width: 100%;
    margin-bottom: 30px;
}
.steps .steps-wrap .step .step-content .icon-wrap svg,
.steps .steps-wrap .step .step-content .icon-wrap img {
    width: auto;
    max-width: 100%;
    height: 100%;
}
.steps .steps-wrap .step .step-content .step-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    margin-bottom: 10px;
}
.steps .steps-wrap .step .step-content .step-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    margin-bottom: 27px;
}
.steps .steps-wrap .step .step-content .link {
    display: block;
    margin-bottom: 17px;
}
.steps .steps-wrap .step .step-content .step-meta {
    color: var(--aieps-greyblue);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    margin-bottom: 17px;
}


.advantages {}
.advantages .avantaje {}
.advantages .avantaje .section-title,
.advantages .povesti .section-title {
    margin-bottom: 17px;
}
.advantages .avantaje .section-sub-title {
    margin-bottom: 10px;
}
.advantages .avantaje .check {
    margin-bottom: 30px;
}
.advantages .povesti {
    background-color: var(--aieps-paleblue);
    padding: 15px 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
}
.advantages .povesti .section-title {
    width: 100%;
}
.advantages .povesti .acc {
    width: 66.666%;
}
.advantages .povesti .acc-buttons {
    padding-top: 25px;
    padding-left: 25px;
    width: 33.333%;
}
.advantages .povesti .acc-buttons .acc-button {
    border-bottom: 1px solid var(--aieps-linegray);
    padding: 14px 0;
}

.advantages .povesti .acc-buttons .acc-button .avatar {
    width: 48px;
    height: 48px;
    margin-right: 17px;
}
.advantages .povesti .acc-buttons .acc-button.collapsed .avatar {
    width: 34px;
    height: 34px;
    margin-right: 31px;
}
.advantages .povesti .acc-buttons .acc-button .author-info {
    align-items: center;
}
.advantages .povesti .acc-buttons .acc-button.collapsed .name {
    color: var(--aieps-greyblue);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}
.advantages .povesti .acc-buttons .acc-button.collapsed .title {
    display: none;
}
.advantages .povesti .acc-buttons .acc-button .name {
    color: var(--aieps-dark);
    font-size: 16px;
    line-height: 16px;
}
.advantages .povesti .acc-buttons .acc-button .title {
    display: block;
}


.card-curs.v0 {
    background-color: var(--aieps-white);
    padding: 12px 15px 20px 15px;
}
.card-curs.v0 .course-title {

}
.card-curs.v0 .lector-info {
    margin-bottom: 0;
}
blockquote {
    display: block;
    position: relative;
    padding: 35px 0;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
}
blockquote::before {
    display: block;
    position: absolute;
    top:0;
    left:0;
    content: '';
    width: 35px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: 34px 21px;
    background-position: left center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 23' fill='%2300263C' stroke='none' %3e%3cpath d='M7.17986 22.1C7.28186 22.1 17.1192 21.9414 17.1192 8.6247C17.1243 7.13072 16.7203 5.66385 15.951 4.38317C15.1817 3.10248 14.0764 2.05685 12.7551 1.35967C11.4337 0.662488 9.94674 0.340364 8.45534 0.428228C6.96394 0.516092 5.52505 1.01059 4.29471 1.8581C3.06438 2.70561 2.08955 3.87378 1.47594 5.23594C0.862326 6.5981 0.633352 8.10226 0.813846 9.58531C0.99434 11.0684 1.57741 12.4737 2.49984 13.6489C3.42226 14.8241 4.64883 15.7244 6.04653 16.252V20.9667C6.04653 21.2673 6.16593 21.5555 6.37847 21.7681C6.59101 21.9806 6.87928 22.1 7.17986 22.1ZM3.02053 8.6247C3.02053 7.05568 3.64382 5.55092 4.75328 4.44146C5.86275 3.33199 7.36751 2.7087 8.93653 2.7087C10.5055 2.7087 12.0103 3.33199 13.1198 4.44146C14.2292 5.55092 14.8525 7.05568 14.8525 8.6247C14.8525 17.1247 10.4552 19.176 8.31319 19.6747V15.4247C8.32134 15.1673 8.24159 14.9149 8.08709 14.7089C7.93259 14.5029 7.71255 14.3556 7.46319 14.2914C6.20143 13.969 5.08164 13.2385 4.27813 12.2136C3.47463 11.1887 3.03248 9.92695 3.02053 8.6247Z'/%3e%3cpath d='M24.8033 22.1C24.9053 22.1 34.754 21.9414 34.754 8.62469C34.7583 7.1314 34.3539 5.6654 33.5846 4.38552C32.8153 3.10564 31.7104 2.06068 30.3897 1.36385C29.0689 0.667029 27.5827 0.344908 26.092 0.432391C24.6012 0.519875 23.1629 1.01363 21.9327 1.86016C20.7025 2.70668 19.7275 3.8737 19.1132 5.23478C18.4988 6.59586 18.2687 8.0991 18.4476 9.58163C18.6266 11.0642 19.2078 12.4695 20.1284 13.6453C21.0489 14.8211 22.2737 15.7225 23.67 16.252V20.9667C23.67 21.2673 23.7894 21.5555 24.0019 21.7681C24.2145 21.9806 24.5027 22.1 24.8033 22.1ZM20.6553 8.62469C20.6553 7.05567 21.2786 5.55091 22.3881 4.44145C23.4975 3.33198 25.0023 2.70869 26.5713 2.70869C28.1403 2.70869 29.6451 3.33198 30.7546 4.44145C31.864 5.55091 32.4873 7.05567 32.4873 8.62469C32.4873 17.1247 28.0786 19.176 25.9366 19.6747V15.4247C25.9448 15.1673 25.865 14.9148 25.7105 14.7088C25.556 14.5028 25.336 14.3556 25.0866 14.2914C23.827 13.9668 22.7097 13.2354 21.9084 12.2107C21.1071 11.186 20.6666 9.92544 20.6553 8.62469Z'/%3e%3c/svg%3e");
}
.blockquote-company {
    padding: 0;
    margin-bottom: 20px;
}
.blockquote-company::before {
    content: unset;
}
.blockquote-company-footer .author-info .author {
    margin-right: 30px;
}

.categories {}
.categories hr {
    margin-top: 7px;
    margin-bottom: 24px;
}
.categories .section-title {
    margin-bottom: 17px;
}
.categories .section-sub-title {
    margin-bottom: 0;
}
.category-links {}
.category-links .category {
    margin-bottom: 21px;
}
.category-links .category-name {
    display: block;
    color: rgba(var(--aieps-blue-rgb), 1.0);
    font-size: 18px;
    line-height: 21.6px;
    margin-bottom: 7px;
}
.category-links .category-name:hover {
    color: rgba(var(--aieps-blue-rgb), 0.8);
}
.category-links .category-count {
    color: var(--aieps-greyblue);
    font-size: 14px;
    line-height: 16.8px;
    margin-bottom: 0;
}


.for-companies {
    padding: 80px 0;
}
.for-companies .row {
    justify-content: space-between;
}
.for-companies .img-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -8px;
}
.for-companies .img-wrap > * {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    padding: 0 8px;
}


.for-comunity {
    padding: 80px 0;
}
.health-system {
    padding: 80px 0;
}
.health-system .section-title {
    max-width: 357px;
}
.health-system .section-sub-title {
    max-width: 321px;
}

.academy {
    padding: 40px 0;
}
.academy .content {
    padding: 55px 0 65px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.academy .content .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.academy .content::after {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.card-01 {
    display: block;
    text-align: center;
    width: 433px;
    padding: 20px;
    z-index: 10;
    border: unset;
    margin: 0;
}
.card-news {
    padding: 0;
    margin: 0;
    border: unset;
}
.card-news img {
    margin-bottom: 8px;
}
.card-news .news-date {
    color: var(--aieps-greyblue);
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    margin-bottom: 8px;
}
.card-news .news-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 26.1px;
    display: block;
    margin: 0;
}

.resources {
    padding: 40px 0 80px 0;
}





