#Alternate default index pages
DirectoryIndex incarca.php incarca.html incarca.htm incarca.html

<IfModule mod_rewrite.c>
Options -Indexes
#Options +FollowSymlinks
## Mod_rewrite in use.
RewriteEngine On

#RewriteCond %{HTTPS} off [OR]
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
#RewriteRule ^ https://www.%1%{REQUEST_URI} [L,NE,R=301]

ErrorDocument 410 http://localhost/aieps/www/404
ErrorDocument 404 http://localhost/aieps/www/404
RewriteRule ^404$ incarca.php?view=f_404 [NC,L]


RewriteRule ^toate-cursurile(/)?$ incarca.php?view=f_courses_list [NC,L]
RewriteRule ^cursuri/medical(/)?$ incarca.php?view=f_courses_list_medical [NC,L]

#RewriteRule ^XXXXXXXXXXXX$ YYYYYYYYYY [NC,L]
#RewriteRule ^XXXXXXXXXXXX$ YYYYYYYYYY [NC,L]
#RewriteRule ^XXXXXXXXXXXX$ YYYYYYYYYY [NC,L]

</IfModule>
